[submodule "FPGA/FPGA_Ethernet"]
	path = FPGA/FPGA_Ethernet
	url = https://github.com/malarisch/FPGA_Ethernet
[submodule "FPGA/mii_rmii"]
	path = FPGA/mii_rmii
	url = https://github.com/WangXuan95/FPGA-RMII-SMII.git
[submodule "verilog-ethernet-mod"]
	path = verilog-ethernet-mod
	url = https://github.com/malarisch/verilog-ethernet
[submodule "soc_firmware/app/webui"]
	path = soc_firmware/app/webui
	url = https://github.com/malarisch/aes67-soc-webui
[submodule "external/zephyr"]
	path = external/zephyr
	url = https://github.com/malarisch/zephyr.git
	branch = aes67
	shallow = true
	ignore = untracked
